body 
{
    background-color: #2a3046;
}
h1 
{
    color: #ffffff;
    text-align: center;
    font-family: 24px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 42px;
    font-weight: bold;
    position: relative;
    top: 200px;
    left: 02px;
}
label 
{
    color: #f1ebeb;
    font-size: 18px;
    opacity: 0.8;
    position: relative;
    top: 40px;
    left: 77px;
}
p
{
    color: #ccc;
}
a 
{
    color: rgb(6, 6, 104);
}
button 
{
    width: 100%;
    height: 40px;
    background-color: #a13854;
    border: none;
    color: #e1e1e1;
    margin: 1px;
    padding: 5px;
    top: 25px;
    position: relative;
    left: 08px;
}
input#numero
{
    margin-top: 10px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #000000;
    width: 121px;
    top:40px;
    position: relative;
    left: 76px;;
}
input#valor
{
    margin-top: 10px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #e1e1e1d8;
    outline: none;
    color: #000000;
    width: 121px;
    top:40px;
    position: relative;
    left: 76px;
}
.card 
{
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width: 280px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}
#lupe
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}