body 
{
    background-color: #2a3046;
}
h1 
{
    color: #ffffff;
    text-align: center;
    font-family: 24px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 42px;
    font-weight: bold;
    position: relative;
    top: 200px;
    left: 02px;
}
label#valorAposta
{
    color: #f1ebeb;
    font-size: 18px;
    opacity: 0.8;
   
}
label#numeroAposta
{
    color: #f1ebeb;
    font-size: 18px;
    opacity: 0.8;
    
   
   
}
label#formaPagamento
{
    color: #f1ebeb;
    font-size: 17px;
    opacity: 1.8;
    
   
    
}
p 
{
    color: #ccc;
}
a
{
    color: rgb(6, 6, 104);
}

button {
    width: 100%;
    height: 39px;
    background-color: #a13854;
    border: none;
    color: #e1e1e1;
    margin: 1px;
    padding: 5px;
    top: 269px;
    position: unset;
    left: 339px;
}

input#numeroAposta
{
    margin-top: 10px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #000000;
    width: 150px;
    top: 245px;
    position: unset;
    left: 329px;
}
input#valorAposta
{
    margin-top: 10px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #e1e1e1d8;
    outline: none;
    color: #000000;
    width: 150px;
    top: 248px;
    position: unset;
    left: 326px;
}
#inputformaPagamento
{
    margin-top: 10px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #e1e1e1d8;
    outline: none;
    color: #020202;
    width: 12px;
    top: 248px;
    position: relative;
    left: 326px;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 116px;
    border-radius: 2px;
    width: 392px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 145px;
}
img{
position: relative;
left: 1%;
top: 4px;
}
.modalPrincipal {
    width: 41%;
    max-width: 400px;
    background-color: #34495e;
    position: relative;
    border-radius: 10px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #ecf0f1;
    text-align: center;
}
#botaoModal {
    width: 126%;
    padding: 10px;
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 0%;
    top: 0%;
} 
